* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    min-width: 576px;
}

.blue-left {
    width: 45px;
    height: 750px;
    background-color: black;
    float: left;
}

header {
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    height: 750px;
}

.black-top {
    background-color: rgb(8, 11, 18);
    height: 100px;
}

.main-black {
    background-color: rgb(20, 25, 34);
    height: 650px;
}

footer {
    height: 70px;
    background-color: rgb(40, 40, 40);
}

.fa-spotify {
    color: white;
    font-size: 30px;
    padding-bottom: 0.75rem;
}

.icon-small {
    font-size: 15px;
    color: white;
}

.icon {
    width: 26px;
    padding-bottom: 0.5rem;
}

.small-gray {
    width: 25px;
    padding: 0rem 0.10rem;
}

.bg-gray {
    background-color: gray;
    border-radius: 30px;
}

.spotify-img {
    display: none;
}

.white {
    display: none;
}


@media  screen and (min-width: 576px) {

    html, body {
        min-width: 576px;
    }

    header {
        height: 20%;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1.5rem;
    }
    
    .blue-left {
        width: 200px;
    }

    .fa-spotify {
        display: none;
    }

    .spotify-img {
        display: inline-block;
        width: 100%;
        padding-bottom: 1.5rem;
    }

    .white {
        color: white;
        display: block;
    }

    .inline-block {
        display: flex;
        align-items: center;
    }

    .margin {
        margin-right: 0.5rem;
    }

    .p-bottom {
        padding-bottom: 1rem;
    }

    .fa-sharp {
        color: gray;
        font-size: 40px;
    }

    .list-type {
        list-style-type: none;
    }

    .gray {
        color: gray;
    }

    .li-bottom {
        padding-bottom: .5rem;
    }
}


    
